.pill-d4h2imx1 {
    border-radius: 10px;
    font-size: 8px;
    font-weight: 700;
    height: 12px;
    line-height: 12px;
    padding: 0 4px;
    text-transform: uppercase
}

.color-d4h2imx1 {
    color: #fff
}

.orange-d4h2imx1 {
    background-color: #ff9800
}

.gray-d4h2imx1 {
    background-color: #787b86
}

.green-d4h2imx1 {
    background-color: #22ab94
}

.blue-d4h2imx1 {
    background-color: #2962ff
}