.tv-badge-broker-winner {
    border-radius: 6px;
    height: 48px;
    width: 48px
}

.tv-badge-broker-winner__ba-of-the-year {
    background: url(ba-of-the-year.5daaddca8bd666e9d199.svg)
}

.tv-badge-broker-winner__ba-popular {
    background: url(ba-popular.7d4607a25db3f0d01f94.svg)
}

.tv-badge-broker-winner__ba-social-champion {
    background: url(ba-social-champion.c03faf820851c2fa78cf.svg)
}

.tv-badge-broker-winner__ba-innovative-tech {
    background: url(ba-innovative-tech.fd08900afc85f0f55b19.svg)
}

.tv-badge-broker-winner__ba-multi-asset {
    background: url(ba-multi-asset.9048cc2eb6aeb88bd57c.svg)
}

.tv-badge-broker-winner__ba-futures {
    background: url(ba-futures.6a25ea8ade55e1758b71.svg)
}

.tv-badge-broker-winner__ba-forex-and-cfd {
    background: url(ba-forex-and-cfd.a4e01823f150bb842b1c.svg)
}

.tv-badge-broker-winner__ba-crypto {
    background: url(ba-crypto.edde9fe65b717bd661d8.svg)
}

.tv-badge-broker-winner__ba-of-the-year-2021 {
    background: url(ba-of-the-year-2021.1306b03a04bd47df78f1.svg)
}

.tv-badge-broker-winner__ba-popular-2021 {
    background: url(ba-popular-2021.f675d9e2a45b4da0428a.svg)
}

.tv-badge-broker-winner__ba-social-champion-2021 {
    background: url(ba-social-champion-2021.215e9d330a8f40b48f95.svg)
}

.tv-badge-broker-winner__ba-innovative-tech-2021 {
    background: url(ba-innovative-tech-2021.0fa5da629b6ad7c97330.svg)
}

.tv-badge-broker-winner__ba-multi-asset-2021 {
    background: url(ba-multi-asset-2021.a829796c0930392ce996.svg)
}

.tv-badge-broker-winner__ba-futures-2021 {
    background: url(ba-futures-2021.28f879c91128c054a86e.svg)
}

.tv-badge-broker-winner__ba-forex-and-cfd-2021 {
    background: url(ba-forex-and-cfd-2021.d23b43fb573e2088dd7d.svg)
}

.tv-badge-broker-winner__ba-crypto-2021 {
    background: url(ba-crypto-2021.2252086650733b9d7c25.svg)
}